@model IEnumerable<FAP.Domain.Planning>

@{
    ViewBag.Title = "Index";
}

<h2>Rooster</h2>

<div class="row">
    <div class="col-md-12">
        <h2>Rooster</h2>
            @foreach (var item in Model)
            {
                <div>
                    @item.start_date
                    @item.customer_id
                    @item.event_id
                </div>
            }
    </div>
</div>
