body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dashboard_item {
    font-size: 5em;
    text-decoration: none;
    margin-left: 1em;
    color: black;
}
.dashboard {
    margin-top: 5em;
}
.col-md-2 {
    width: 14%;
    height: 25em;
    background: azure;
    border: 1px solid black;
}
